body,div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display:block;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 10px;
  text-align: center;
}

#container {
	position:relative;
	width:900px;
}

#canvas {
	position:absolute;
	left:0;
	top:0;
}

#settings {
	position:absolute;
	text-align: right;
	top:0;
	right:0;
}

#speed {
	margin-bottom:10px;
}

#resetButton {
	margin-left:10px;
}